body{ 
    background-image: url(im/fondo.jpg); 
    background-repeat: repeat;
     background-size: 100% , 100% 100%; 
  margin :0 ;
  font-family: sans-serif;
  text-align: center;

}
h1{
  display:inline-block;
  position: relative;
  color : #CD5C5C;
}
.caja{
  text-align: relative;
   width: 55%;
  height: 700px;
  background-color: #FFFFFF ;
  padding: 15px;
  }
.cal{
  position:center;
  text-align: relative;
  background:#000080;
  color:  #AED6F1;
  width: 250px;
  height: 270px;
  }
 
.calculadora2{
  position:center;
  text-align: relative;
  background:#000080;
  color:  #AED6F1;
  width: 250px;
  height: 270px;
}
